<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{'Müfredat'| translate}}</h4>
                        <div class="pull-right p-3"></div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="container mt-5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Ders Kodu</th>
                                            <th>Ders Adı</th>
                                            <th>Ders Dili</th>
                                            <th>Ders Türü</th>
                                            <th>Kredi</th>
                                            <th>ECTS</th>
                                            <th>Harf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>YMM4023</td>
                                            <td>Yazılım Test ve Doğrulama</td>
                                            <td>Türkçe</td>
                                            <td>Zorunlu</td>
                                            <td>3</td>
                                            <td>2</td>
                                            <td>AA</td>
                                        </tr>
                                        <tr>
                                            <td>YMM4024</td>
                                            <td>Yapay Zeka</td>
                                            <td>Türkçe</td>
                                            <td>Zorunlu</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>AA</td>
                                        </tr>
                                        <tr>
                                            <td>YMM4025</td>
                                            <td>Makine Öğrenmesi</td>
                                            <td>Türkçe</td>
                                            <td>Zorunlu</td>
                                            <td>3</td>
                                            <td>2</td>
                                            <td>BA</td>
                                        </tr>
                                        <tr>
                                            <td>YMM4026</td>
                                            <td>Proje Yönetimi</td>
                                            <td>Türkçe</td>
                                            <td>Zorunlu</td>
                                            <td>3</td>
                                            <td>2</td>
                                            <td>FF</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>