<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'BolumList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateBolumCommand')" class="pull-right" data-toggle="modal" data-target="#bolum"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="createdDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="updatedDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'UpdatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.updatedDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="deletedDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DeletedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.deletedDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="programTuruId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ProgramTuruId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.programTuruId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="ogretimTuruId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'OgretimTuruId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.ogretimTuruId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="ogretimDiliId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'OgretimDiliId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.ogretimDiliId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="bolumAdi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'BolumAdi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.bolumAdi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="webAdresi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'WebAdresi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.webAdresi}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateBolumCommand')" data-toggle="modal" data-target="#bolum"  (click)="getBolumById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteBolumCommand')" (confirm)="deleteBolum(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="bolum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(bolumAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'BolumForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="bolumAddForm" [formGroup]="bolumAddForm" (ngSubmit)="save()">
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select"  formControlName="programTuruId">
								<option *ngFor="let item of programTuruList" [value]="item.id"> {{item.ad}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="ogretimTuruId">
								<option *ngFor="let item of ogretimTuruList" [value]="item.id"> {{item.ad}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="ogretimDiliId">
								<option *ngFor="let item of ogretimDiliList" [value]="item.id"> {{item.ad}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="bolumAdi" type="text" id="bolumAdi" name="bolumAdi"
                       formControlName="bolumAdi" />
                <div class="alert alert-danger"
                     *ngIf="bolumAddForm.get('bolumAdi')!.hasError('bolumAdi') && bolumAddForm.get('bolumAdi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="webAdresi" type="text" id="webAdresi" name="webAdresi"
                       formControlName="webAdresi" />
                <div class="alert alert-danger"
                     *ngIf="bolumAddForm.get('webAdresi')!.hasError('webAdresi') && bolumAddForm.get('webAdresi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

