<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'DersAcmaList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateDersAcmaCommand')" class="pull-right" data-toggle="modal" data-target="#dersacma"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="createdDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="updatedDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'UpdatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.updatedDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="deletedDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DeletedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.deletedDate}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="akademikYilId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'AkademikYilId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.akademikYilId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="akademikDonemId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'AkademikDonemId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.akademikDonemId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="mufredatId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MufredatId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.mufredatId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="ogrElmId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'OgrElmId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.ogrElmId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="kontenjan">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Kontenjan'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.kontenjan}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateDersAcmaCommand')" data-toggle="modal" data-target="#dersacma"  (click)="getDersAcmaById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteDersAcmaCommand')" (confirm)="deleteDersAcma(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="dersacma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(dersAcmaAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'DersAcmaForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="dersAcmaAddForm" [formGroup]="dersAcmaAddForm" (ngSubmit)="save()">
          
					
					<div class="row">
						<div class="col-md-12">
              <div class="d-flex justify-content-start align-items-center">
                <span class="mr-2">Akademik Yıl:</span>
              </div>
							<select class="browser-default custom-select" formControlName="akademikYilId">
								<option *ngFor="let item of akademikYilList" [value]="item.id"> {{item.ad}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="d-flex justify-content-start align-items-center">
                <span class="mr-2">Akademik Dönem:</span>
              </div>
							<select class="browser-default custom-select" formControlName="akademikDonemId">
								<option *ngFor="let item of akademikDonemList" [value]="item.id"> {{item.ad}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="d-flex justify-content-start align-items-center">
                <span class="mr-2">DersAdi:</span>
              </div>
							<select class="browser-default custom-select" formControlName="mufredatId">
								<option *ngFor="let item of mufredatDersList" [value]="item.id"> {{item.dersAdi}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="d-flex justify-content-start align-items-center">
                <span class="mr-2">Öğretim Elemanı:</span>
              </div>
							<select class="browser-default custom-select" formControlName="ogrElmId">
								<option *ngFor="let item of ogrElmList" [value]="item.id"> {{item.adi}} {{item.soyadi}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12 my-1">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="kontenjan" type="text" id="kontenjan" name="kontenjan"
                       formControlName="kontenjan" />
                <div class="alert alert-danger"
                     *ngIf="dersAcmaAddForm.get('kontenjan')!.hasError('kontenjan') && dersAcmaAddForm.get('kontenjan')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

