
<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{'Not Listesi'| translate}}</h4>
                        <div class="pull-right p-3"></div>
                    </div>
                    <div class="card-body" >
                        <div class="table-responsive" >
                            <div class="col-sm-2">
                                <label for="akademikYil">Akademik Yıl</label>
                                <select class="custom-select" id="akademikYil"
                                    (change)="filterByAkademikYil($event.target.value)">
                                    <option *ngFor="let item of akademikYilList" [value]="item.label"> {{item.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="container mt-5" >
                                <!--MDB Tables-->
                                <div class="container mt-4">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Ders Kodu</th>
                                                        <th>Ders Adı</th>
                                                        <th>Vize</th>
                                                        <th>Final</th>
                                                        <th>Bütünleme</th>
                                                        <th>Not Ortalaması</th>
                                                        <th>Harf Notu</th>
                                                        <th>Durum</th>
                                                    </tr>
                                                </thead>

                                                <tbody
                                                    *ngFor="let ders of filteredOgrenciNotList">
                                                    <tr [ngClass]="{ 'Geçti': ders.durum, 'Kaldı': !ders.durum }" >
                                                        <td>{{ders.dersKodu}}</td>
                                                        <td>{{ders.dersAdi}}</td>
                                                        <td>{{ders.vizeNotu}}</td>
                                                        <td>{{ders.finalNotu}}</td>
                                                        <td>{{ders.butunlemeNotu}}</td>
                                                        <td>{{ders.notOrt}}</td>                                                        
                                                        <td>{{ders.harfNotu}}</td>
                                                        <td [ngClass]="{ 'gecme-text': ders.durum, 'kaldı-text': !ders.durum }">
                                                            {{ders.durum ? 'Geçti' : 'Kaldı'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!--Table body-->
                                            </table>
                                            <!--Table-->
                                        </div>
                                    </div>
                                    <u>Notlar</u>
                                    <p><span style="color:red">(Ders Sonuçlandırılmadı)</span><span style="color:blue">Ne anlama geliyor:</span></p>
                                    <ol>
                                        <li>Yarıyıl sonu sınavı notu henüz girilmedi</li>
                                        <li>Tüm sınav notları girildi fakat harf notu henüz hesaplanmadı</li>
                                        <li>Not girişi tamamlanmayan bütünleme sınavı mevcut</li>
                                        <li>Bütünleme sınav notları girildi fakat henüz harf notu hesaplanmadı</li>
                                    </ol>
                                    <p><span style="color:blue">Harf notu "--" olarak görünmesi ne anlama
                                            geliyor: </span> </p>
                                       <p> <span> Akademik takvime göre harf notlarının ilan tarihi bekleniyor
                                        (Akademik takvimden ilgili tarihleri kontrol edebilirsiniz)</span></p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>